@import "abstracts/variables";
@import "abstracts/mixins";

:host {
  display: grid;
  place-content: center;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  pointer-events: all;
}

.backdrop {
  position: absolute;
  inset: 0;
  background-color: rgb(100, 100, 100);
  opacity: 0.7;
}

.modal {
  // display: grid;
  // position: relative;
  max-width: 35rem;
  background-color: theme-var($--theme-secondary);
  @include bs-elevate;
  overflow: hidden;
  z-index: 1;
}
