@import "abstracts/variables";
@import "abstracts/mixins";

:host {
  // width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  margin: 2rem 0;
  text-align: center;
}

.map {
  svg {
    width: auto;
    height: auto;
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
    g {
      cursor: pointer;
      transition: all 0.3s linear;
      position: relative;
      @include bs-elevate;
      &:focus {
        outline: none;
      }

      #americas,
      #africa,
      #asia,
      #europe,
      #oceania {
        path {
          transition: fill 0.25s ease-in-out;
        }
      }

      &#americas:hover path {
        fill: hsl(352, 100%, 50% + 12%);
      }
      &#africa:hover path {
        fill: hsl(0, 0, 0 + 12%);
      }
      &#asia:hover path {
        fill: hsl(38, 97%, 59% + 12%);
      }
      &#europe:hover path {
        fill: hsl(201, 100%, 39% + 5%);
      }
      &#oceania:hover path {
        fill: hsl(149, 100%, 33% + 8%);
      }
    }
  }
}

.boxes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1rem;
  .box {
    box-shadow: 8px 8px 20px -12px rgba(66, 68, 90, 1);
    @include bs-elevate;
    border-radius: 20px;
    display: grid;
    place-items: center;
    height: 150px;
    background-color: theme-var($--theme-secondary);
    transition: transform 0.25s ease-in-out;

    span {
      text-transform: uppercase;
      font-weight: 600;
      font-size: clamp(1.5rem, 5vw, 1.75rem);
    }

    &:hover {
      transform: scale(1.05);
    }
  }
}
