@import "abstracts/variables";
@import "abstracts/mixins";

:host {
  height: 5rem;
  background-color: theme-var(--theme-secondary);
  @include bs-elevate;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
