@import "abstracts/variables";
@import "abstracts/mixins";

app-modal {
  padding: clamp(1rem, 5vw, 10rem);

  header,
  main {
    padding: 1em;
  }
  header {
    background-color: theme-var($--theme-secondary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include bs-elevate;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    .avatar {
      max-width: 30%;
      img {
        clip-path: circle();
      }
    }

    h3 {
      text-align: center;
      font-size: clamp(1rem, 5vw, 1.3rem);
    }
  }
}

.links {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  .icon {
    width: clamp(1rem, 5vw, 2rem);
    transition: transform 0.2s ease-in-out;

    &.github path {
      fill: theme-var($--theme-text);
    }
    &.linkedin path {
      fill: theme-var($--theme-linkedin);
    }

    &:hover {
      transform: scale(1.1);
    }
  }
}
