@import "abstracts/variables";
@import "abstracts/mixins";

app-modal {
  header,
  main {
    padding: 1em;
  }
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
