.img__container {
  width: 70px;
  height: 70px;
  overflow: hidden;
  display: grid;
  position: relative;
  place-items: center;
  border-color: #f8fafc;
  border-radius: 50%;
  object-fit: cover;

  img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }
}

a {
  display: block;
}

h2 {
  margin: 2rem 0;
}

ul {
  display: flex;
  flex-direction: column;
}
li {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1rem;

  &:hover {
    background-color: #f3f5f5;
  }
}
