<form>
  <input type="search" name="" id="" placeholder="Search..." />
</form>

<div *ngIf="region">
  <ul class="cards">
    <li *ngFor="let country of region; let i = index">
      <a
        class="card"
        routerLink="/region/{{ regionName }}/{{
          country.name.common | lowercase
        }}"
      >
        <div class="img__container">
          <img *ngIf="country.flags" src="{{ country.flags.svg }}" alt="" />
        </div>

        <div class="card__content">
          <h3 class="title">{{ country.name.common }}</h3>

          <p><span>Population:</span> {{ country.population | number }}</p>
          <p><span>Region:</span> {{ country.region }}</p>
          <p *ngFor="let capital of country.capital">
            <span>Capital:</span> {{ capital }}
          </p>
        </div>
      </a>
    </li>
  </ul>
</div>
