@import "abstracts/variables";
@import "abstracts/mixins";

:host {
  display: block;
  margin-top: 2rem;
}

.country {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 3rem;

  @media (min-width: 40rem) {
    flex-wrap: nowrap;
  }

  &__flag {
    width: 100%;
    min-height: 10vh;
    img {
      width: auto;
      max-height: 100%;
      object-fit: cover;
    }

    @media (min-width: 40rem) {
      width: 40%;
    }
  }

  &__content__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @media (min-width: 40rem) {
      width: 50%;
    }

    .bold {
      font-weight: 600;
      margin-right: 0.35em;
    }
  }
}

.country__content {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  p {
    display: flex;
    flex-wrap: wrap;
    word-wrap: break-word;
    white-space: nowrap;
  }

  @media (min-width: 56rem) {
    flex-wrap: nowrap;
    gap: 1.5rem;
  }
}

.borders {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 0.875rem;
}
